.main {
  // max-height: screen;
  min-height: min-content;
  max-height: none;
  min-width: min-content;

  font-size: large;
  color: black;
  background-color: rgb(218, 204, 255);

  &__header {
    padding: 0.3rem 1rem;
    border-bottom: 0.1rem solid gray;
  }

  &__messages {
    max-height: 72vh;
    overflow-y: auto;
    padding: 0.5rem 1rem;

    .messages {
      height: 100%;

      &__alert {
        margin: auto auto;
        padding: 0.5rem;
        background-color: rgba(238, 255, 0, 0.89);
        border: 0.2rem solid rgb(255, 175, 2);
        border-radius: 5%;
        font-size: large;
        font-weight: 600;
      }
    }
  }

  &__message {
    padding: 0.5rem 1rem;
  }
}

.header {

  &__title {
    font-size: x-large;
  }

  &__description {
    color: rgb(13, 141, 1);
    font-size: medium;
    font-weight: 400;
    font-style: italic;
  }

  &__input {
    padding: 0.1rem 0.4rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    outline: none;
  }

  &__input:focus {
    outline: 0.15rem solid blue;
    outline-offset: -0.1rem;
  }
}

.message {

  &__button {

    padding: 0.1rem 0.3rem 0.5rem;
    border: 0.1rem solid black;
    border-right: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 0;
    text-align: center;
    overflow: hidden;
    color: gray;

    &:active {
      color: rgb(75, 75, 255);
      outline: 0.15rem solid blue;
      outline-offset: -0.1rem;
    }
  }

  &__input {
    padding: 0.3rem 0.9rem;
    overflow: hidden;
    border: 0.1rem solid black;
    border-radius: 0 0.5rem 0.5rem 0;
    outline: none;
    resize: none;

    &:focus {
      outline: 0.15rem solid blue;
      outline-offset: -0.1rem;
    }
  }
}
