.main {
  padding: 1rem;
  font-size: large;
  color: black;
  background-color: rgb(218, 204, 255);

  &__header {
    padding: 0.5rem 0;
  }

  &__messages {
    padding: 0.5rem 0;
  }

  &__message {
    padding: 0.5rem 0;
  }
}

.header {

  &__title {
    font-size: x-large;
  }

  &__description {
    color: rgb(13, 141, 1);
    font-size: medium;
    font-weight: 400;
    font-style: italic;
  }

  &__input {
    padding: 0.1rem 0.4rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    outline: none;
  }

  &__input:focus {
    outline: 0.15rem solid blue;
    outline-offset: -0.1rem;
  }
}

.message {
  &__button {
    padding: 0.3rem;
  }

  &__input {
    padding: 0.3rem 0.9rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    outline: none;

    &:focus {
      outline: 0.15rem solid blue;
      outline-offset: -0.1rem;
    }
  }
}