.message {
  display: flex;
  margin-bottom: 1rem;

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;

    & .information {

      &__header {
      display: flex;

        .header {
          &__name {
            margin-right: 0.5rem;
            font-size: large;
            font-weight: 600;
          }

          &__date {
            display: flex;
            align-items: center;
            padding: 0;
            font-size: small;
            font-weight: 400;
          }
        }
      }
    }
  }
}